body {
  margin: 0px;
  padding: 0px;
}
.btn{
  background-color:red ;
  position:fixed;
  transition:3s;
  border-radius: 1px;
  border-bottom: 1px;
 opacity:0.1;
 margin: 4px;
 padding-right: 12px;
 cursor:pointer;
 display:block;
 text-align:center;
 top: 0px;
 left: 0px;
}
.btn:hover {
  opacity:1;

}
.cancel{
  cursor:pointer;
  position:fixed;
  padding-right: 12px;
  right:122px;
  left: 150px;
  background-color: blue;
}
.cancel:hover{
margin:0px;
padding:0px;
opacity: 1;
position: fixed;
}
.slider ul{
  margin: 3px;
  padding: 25px;
  transition: 3s;
  list-style: none;
  height:511px;
  width: 122px;
  top: 0px;
    left: 11px;
    background-color: blue;
}
.silder ul li{
  padding-left: 0px;
  border-top: 22px;
  border-bottom: 22px;
}
.slider ul li a{
color:brown;
text-decoration: none;
display: block;
line-height: 85px;
line-break:12px;
width:122;
}

.slider ul li:hover{
  background-color: bisque;
  margin:0px;
  padding:10px;
  border:10px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-top: 12px;
  width: 65px;

}